.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.msg iframe {
	animation-name: borderColor;
	animation-duration: 4.05s; /* (81 bpm / 60 seconds) * (# of colors) */
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: paused;
}

/* To avoid smooth transitions, which CSS likes by default, we have to set the color again at the percentage right before the next jump. E.g., 0% is color1, 32% is color1, 33% is color2. */
@keyframes borderColor {
	0% {
		border:3px solid #E5F0F6;
	}

	32% {
		border:3px solid #E5F0F6;
	}

	33% {
		border:3px solid #1896B5;
	}

	65% {
		border:3px solid #1896B5;
	}

	66% {
		border:3px solid #5C3C2E;
	}

	99% {
		border:3px solid #5C3C2E;
	}

	100% {
		border:3px solid #E5F0F6;
	}
}